In [123]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
import re

# Assignment - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

In [3]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [489]:
import pandas as pd

def f1(row, data, param):
    if param['state'] == '' or row[0].find('edit') > 0:
        param['state'] = row[0].split('[')[0]
    else:
        town = row[0].split('(')[0].strip()
        data.append([param['state'], town])
        
def get_list_of_university_towns():
    df = pd.read_csv('university_towns.txt',sep='\n', header=None)
    df['State']=''
    df['RegionName']=''

    for x in range(len(df[0])):
        if 'edit' in df[0][x]:
            state = df[0][x]
        else:
            df.State[x] = state

    df.State = df.State.apply(lambda x: x.replace('[edit]',''))
    df.RegionName = df[0].str.split('(').apply(lambda x: x[0])
    df.School = df[0].str.split('(').apply(lambda x: x[1:])
    df = df[df.State !='']
    df = df.drop([0],axis=1)
    return df
    
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
   #your code here

get_list_of_university_towns().head()

C:\Users\Acer\Anaconda\lib\site-packages\ipykernel_launcher.py:23: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

     State     RegionName
1  Alabama        Auburn
2  Alabama      Florence
3  Alabama  Jacksonville
4  Alabama    Livingston
5  Alabama    Montevallo

In [301]:
#CLEAN DATA
df = pd.read_excel('gdplev.xls')

#drop useless columns
df.drop(df.columns[[0,1,2,3,5,7]], axis=1, inplace=True)
df = df.drop([0,1,2,3,4,5,6])

df.columns = ['Quarter','GDP']

df['Year'] = df.Quarter.str.split('q').apply(lambda x: int(x[0]))
df['GDP'] = pd.to_numeric(df['GDP'],errors='coerce')
df = df[df.Year>1999].reset_index().drop(columns='index')

df.head()

  Quarter      GDP  Year
0  2000q1  12359.1  2000
1  2000q2  12592.5  2000
2  2000q3  12607.7  2000
3  2000q4  12679.3  2000
4  2001q1  12643.3  2001

In [316]:
'''Returns the year and quarter of the recession start time as a string value in a format such as 2005q3'''
def get_recession_start(df):
    rec = 0
    quarter = df.Quarter[0]
    recession_start = []
    y = 1 
    while y in range(len(df.GDP)):
        if df.GDP[y-1] > df.GDP[y]:
            rec +=1
        else:
            quarter = df.Quarter[y]
            rec = 0
        if rec == 2:
            break
        y +=1
    return quarter
    
get_recession_start(df)

'2008q2'

In [345]:
'''Returns the year and quarter of the recession end time as a string value in a format such as 2005q3'''

def get_recession_end(df):
    y = df.index[df.Quarter == get_recession_start(df)].tolist()[0]
    quarter = df.Quarter[y-1]
    rec = 0
    recession_end = []
    while y in range(len(df.GDP)):
        if df.GDP[y-1] < df.GDP[y]:
            rec +=1
            quarter = df.Quarter[y]
        else:
            rec = 0
        if rec == 2:
            break
        y +=1
    return quarter
    #your code here

get_recession_end(df)

'2009q4'

In [356]:
'''Returns the year and quarter of the recession bottom time as a string value in a format such as 2005q3'''
def get_recession_bottom(df):
    start = df.index[df.Quarter == get_recession_start(df)].tolist()[0]
    end = df.index[df.Quarter == get_recession_end(df)].tolist()[0]
    df = df.loc[start:end]
    return df.Quarter[df.GDP == df.GDP.min()].tolist()[0]
    #your code here
    
get_recession_bottom(df)

'2009q2'

In [486]:
def new_col_names():
    #generating the new coloumns names 
    years = list(range(2000,2017))
    quars = ['q1','q2','q3','q4']
    quar_years = []
    for i in years:
        for x in quars:
            quar_years.append((str(i)+x))
    return quar_years[:67]

def convert_housing_data_to_quarters():
    #clean data
    df_homes = pd.read_csv('City_Zhvi_AllHomes.csv', encoding = "ISO-8859-1")

    df_homes = df_homes.replace({"State": states})
    df_homes = df_homes.drop(columns = ['RegionID','Metro','CountyName','SizeRank'])

    df_homes = df_homes.drop(df_homes.columns.to_series()["1996-04":"1999-12"], axis=1)
    df_homes = df_homes.drop(df_homes.columns.to_series()["2016-10":"2019-04"], axis=1)
    df_homes = df_homes.set_index(['RegionName','State'])
    df_homes = df_homes.dropna()

    #Create the new columns
    x = 0
    col=0
    length = len(df_homes.columns)
    while x < length:
        df_homes[new_col_names()[col]] = df_homes.iloc[:,[x,x+1,x+2]].mean(axis=1)
        x +=3
        col +=1

    a = list(range(0,201))

    df_homes = df_homes.drop(df_homes.columns[a],axis=1)
    
    return df_homes
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
convert_housing_data_to_quarters()

,,2000q1,2000q2,2000q3,2000q4,2001q1,2001q2,2001q3,2001q4,2002q1,2002q2,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
RegionName,State,,,,,,,,,,,,,,,,,,,,,
New York,New York,220433.333333,228866.666667,236166.666667,242266.666667,248633.333333,256000.000000,265700.000000,277100.000000,285033.333333,286300.000000,...,502866.666667,513133.333333,522800.000000,5.329000e+05,5.431333e+05,5.540000e+05,5.624000e+05,5.696667e+05,5.761667e+05,5.840333e+05
Los Angeles,California,208166.666667,214900.000000,221466.666667,227766.666667,234566.666667,241333.333333,248200.000000,255833.333333,265500.000000,277000.000000,...,488200.000000,500666.666667,508900.000000,5.193000e+05,5.293667e+05,5.384000e+05,5.504667e+05,5.625000e+05,5.721667e+05,5.852333e+05
Houston,Texas,106266.666667,106300.000000,106233.333333,106500.000000,106600.000000,107033.333333,108066.666667,109466.666667,110533.333333,111300.000000,...,126600.000000,129400.000000,132500.000000,1.354333e+05,1.387333e+05,1.414333e+05,1.445333e+05,1.477000e+05,1.513000e+05,1.558667e+05
Chicago,Illinois,142233.333333,147433.333333,153033.333333,158700.000000,163566.666667,167033.333333,171433.333333,176833.333333,182366.666667,187033.333333,...,184833.333333,187733.333333,191233.333333,1.934333e+05,1.982333e+05,2.003333e+05,2.029667e+05,2.051333e+05,2.094000e+05,2.130333e+05
San Antonio,Texas,92133.333333,91800.000000,91133.333333,90800.000000,90300.000000,89700.000000,89433.333333,89400.000000,89500.000000,90000.000000,...,123200.000000,125366.666667,127066.666667,1.292000e+05,1.312000e+05,1.340000e+05,1.366000e+05,1.383333e+05,1.408000e+05,1.433667e+05
Philadelphia,Pennsylvania,51466.666667,52500.000000,53600.000000,54433.333333,55200.000000,55966.666667,56500.000000,57300.000000,58800.000000,60366.666667,...,104833.333333,106033.333333,107266.666667,1.076000e+05,1.091000e+05,1.103000e+05,1.107667e+05,1.118000e+05,1.157000e+05,1.208000e+05
Phoenix,Arizona,114500.000000,116700.000000,118800.000000,120933.333333,123366.666667,125266.666667,126600.000000,127900.000000,129500.000000,131133.333333,...,161566.666667,163366.666667,165566.666667,1.680667e+05,1.720000e+05,1.781000e+05,1.827667e+05,1.870333e+05,1.912667e+05,1.965667e+05
Las Vegas,Nevada,136933.333333,138266.666667,139100.000000,140333.333333,142333.333333,144600.000000,147333.333333,150800.000000,154600.000000,157266.666667,...,173033.333333,175966.666667,179000.000000,1.822000e+05,1.851000e+05,1.892000e+05,1.925000e+05,1.961667e+05,2.004667e+05,2.049000e+05
San Diego,California,224066.666667,235866.666667,246833.333333,256633.333333,266900.000000,277166.666667,286233.333333,295700.000000,306866.666667,319900.000000,...,474933.333333,481166.666667,487066.666667,4.924667e+05,5.013667e+05,5.117000e+05,5.205000e+05,5.319667e+05,5.382667e+05,5.447000e+05
Dallas,Texas,93466.666667,94000.000000,94900.000000,96000.000000,96566.666667,96633.333333,96733.333333,96900.000000,97233.333333,98333.333333,...,109133.333333,110500.000000,113100.000000,1.154000e+05,1.180000e+05,1.208333e+05,1.232333e+05,1.251667e+05,1.311333e+05,1.399000e+05
Austin,Texas,174866.666667,179800.000000,182266.666667,183966.666667,185566.666667,188633.333333,190200.000000,189533.333333,187100.000000,184166.666667,...,246533.333333,252933.333333,258833.333333,2.641000e+05,2.715333e+05,2.796333e+05,2.843000e+05,2.892333e+05,2.970333e+05,3.052667e+05
San Jose,California,391900.000000,423000.000000,446766.666667,460566.666667,465366.666667,461733.333333,453866.666667,446766.666667,446866.666667,457300.000000,...,683633.333333,694600.000000,713800.000000,7.404333e+05,7.685000e+05,7.912333e+05,8.035333e+05,8.129333e+05,8.240000e+05,8.291000e+05
Jacksonville,Florida,88966.666667,90266.666667,91400.000000,92566.666667,94500.000000,96433.333333,98600.000000,101266.666667,103966.666667,106266.666667,...,110033.333333,111633.333333,113466.666667,1.143333e+05,1.170000e+05,1.218000e+05,1.249333e+05,1.275000e+05,1.318667e+05,1.353000e+05
Indianapolis,Indiana,96600.000000,95066.666667,95400.000000,98100.000000,100600.000000,101000.000000,100866.666667,101733.333333,102866.666667,102733.333333,...,89366.666667,92766.666667,94966.666667,9.690000e+04,9.896667e+04,1.026333e+05,1.039333e+05,1.064333e+05,1.100333e+05,1.130667e+05
San Francisco,California,461333.333333,493833.333333,514066.666667,524300.000000,528700.000000,526633.333333,523233.333333,521166.666667,523866.666667,535966.666667,...,926400.000000,952966.666667,978800.000000,1.008300e+06,1.056733e+06,1.100933e+06,1.124667e+06,1.141533e+06,1.142033e+06,1.140200e+06
Charlotte,North Carolina,132500.000000,133833.333333,134800.000000,135766.666667,136633.333333,137133.333333,137700.000000,138133.333333,138500.000000,138966.666667,...,147833.333333,149333.333333,151233.333333,1.541667e+05,1.572667e+05,1.609000e+05,1.632000e+05,1.655000e+05,1.701000e+05,1.739667e+05
Fort Worth,Texas,106133.333333,107133.333333,108866.666667,110266.666667,110066.666667,109066.666667,109100.000000,110366.666667,111900.000000,113400.000000,...,123266.666667,125333.333333,127866.666667,1.299333e+05,1.320000e+05,1.352333e+05,1.380667e+05,1.404333e+05,1.443333e+05,1.483333e+05
Tucson,Arizona,105900.000000,107266.666667,108500.000000,110000.000000,111933.333333,113600.000000,115366.666667,117633.333333,120066.666667,121900.000000,...,143300.000000,144633.333333,146233.333333,1.463000e+05,1.481000e+05,1.489000e+05,1.496333e+05,1.511000e+05,1.543333e+05,1.578667e+05
Columbus,Ohio,101866.666667,104000.000000,105433.333333,106666.666667,107933.333333,109233.333333,110700.000000,112333.333333,114066.666667,115866.666667,...,100766.666667,103600.000000,106800.000000,1.101667e+05,1.129667e+05,1.152667e+05,1.167000e+05,1.171667e+05,1.190667e+05,1.230000e+05
Louisville,Kentucky,98066.666667,98633.333333,99233.333333,100766.666667,103700.000000,106766.666667,108966.666667,110166.666667,110700.000000,111133.333333,...,124800.000000,125933.333333,126800.000000,1.275667e+05,1.289667e+05,1.300333e+05,1.317000e+05,1.338667e+05,1.357000e+05,1.383000e+05
Orlando,Florida,106800.000000,109233.333333,112066.666667,114833.333333,117266.666667,119300.000000,121266.666667,124100.000000,127600.000000,130933.333333,...,151533.333333,156333.333333,159133.333333,1.603000e+05,1.634000e+05,1.677333e+05,1.723333e+05,1.752667e+05,1.812000e+05,1.874000e+05
El Paso,Texas,81533.333333,81400.000000,80966.666667,79966.666667,79033.333333,78366.666667,77633.333333,77233.333333,77200.000000,77566.666667,...,114133.333333,114666.666667,114366.666667,1.145000e+05,1.147667e+05,1.147333e+05,1.148667e+05,1.150000e+05,1.144000e+05,1.144667e+05
Denver,Colorado,165600.000000,172933.333333,179333.333333,184533.333333,189333.333333,193400.000000,196900.000000,199966.666667,202466.666667,204333.333333,...,262733.333333,271633.333333,281133.333333,2.922667e+05,3.065000e+05,3.200000e+05,3.298667e+05,3.363667e+05,3.443667e+05,3.559333e+05
Seattle,Washington,247833.333333,255166.666667,261466.666667,266600.000000,271300.000000,274333.333333,276166.666667,278400.000000,281300.000000,284233.333333,...,445700.000000,455100.000000,465766.666667,4.783000e+05,4.963667e+05,5.181000e+05,5.430333e+05,5.616333e+05,5.843667e+05,6.081000e+05
Memphis,Tennessee,72466.666667,72900.000000,73133.333333,73433.333333,74000.000000,74500.000000,75200.000000,75833.333333,76433.333333,76866.666667,...,58533.333333,59266.666667,59400.000000,5.980000e+04,5.913333e+04,5.890000e+04,5.913333e+04,5.950000e+04,6.233333e+04,6.583333e+04
Boston,Massachusetts,206933.333333,218500.000000,229866.666667,240300.000000,249766.666667,258833.333333,267000.000000,273466.666667,279000.000000,285500.000000,...,413100.000000,419833.333333,427933.333333,4.368333e+05,4.432000e+05,4.523000e+05,4.624333e+05,4.728667e+05,4.833667e+05,4.963667e+05
Washington,District of Columbia,141133.333333,144466.666667,147866.666667,151433.333333,156800.000000,163133.333333,169800.000000,176466.666667,183966.666667,192800.000000,...,441566.666667,446533.333333,450666.666667,4.578667e+05,4.660333e+05,4.741000e+05,4.807667e+05,4.839667e+05,4.968667e+05,5.082000e+05
Portland,Oregon,149066.666667,150000.000000,150700.000000,151866.666667,153700.000000,155600.000000,157533.333333,160033.333333,162900.000000,165666.666667,...,285733.333333,293166.666667,301800.000000,3.097000e+05,3.203333e+05,3.340333e+05,3.513333e+05,3.633000e+05,3.806000e+05,3.953000e+05
Nashville,Tennessee,114366.666667,115200.000000,115733.333333,116833.333333,118400.000000,119566.666667,120233.333333,121033.333333,122000.000000,122766.666667,...,154400.000000,157866.666667,161533.333333,1.660333e+05,1.718667e+05,1.786667e+05,1.866667e+05,1.931667e+05,2.004667e+05,2.078667e+05
Sacramento,California,123100.000000,127033.333333,131333.333333,136566.666667,142733.333333,149333.333333,155800.000000,162033.333333,168833.333333,176266.666667,...,211000.000000,215033.333333,219966.666667,2.257333e+05,2.323333e+05,2.387667e+05,2.463333e+05,2.520667e+05,2.610333e+05,2.689000e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lake Heritage,Pennsylvania,126000.000000,127033.333333,126766.666667,126133.333333,127000.000000,129200.000000,131500.000000,134466.666667,139433.333333,145200.000000,...,221200.000000,221766.666667,226600.000000,2.346667e+05,2.324667e+05,2.281333e+05,2.212333e+05,2.216667e+05,2.201000e+05,2.256667e+05
Alpine,Arizona,91366.666667,90766.666667,91200.000000,93666.666667,98000.000000,102300.000000,106600.000000,111166.666667,115600.000000,118300.000000,...,197033.333333,193500.000000,192666.666667,1.924000e+05,1.960667e+05,1.983667e+05,2.011000e+05,2.039000e+05,2.063000e+05,2.064333e+05
Weedsport,New York,70666.666667,71700.000000,72666.666667,73100.000000,73000.000000,73333.333333,74133.333333,74466.666667,74566.666667,75500.000000,...,106733.333333,105666.666667,105866.666667,1.069667e+05,1.061667e+05,1.068667e+05,1.075000e+05,1.091000e+05,1.094000e+05,1.113000e+05
Big Coppitt Key,Florida,217433.333333,223133.333333,228000.000000,233033.333333,238700.000000,243866.666667,249100.000000,255966.666667,264466.666667,273266.666667,...,360400.000000,370133.333333,379133.333333,3.885667e+05,3.943333e+05,4.075667e+05,4.178333e+05,4.265333e+05,4.341333e+05,4.396000e+05
Key Colony Beach,Florida,233733.333333,240500.000000,247400.000000,256100.000000,265733.333333,274533.333333,284066.666667,296166.666667,309066.666667,320500.000000,...,409033.333333,411466.666667,414833.333333,4.215667e+05,4.325333e+05,4.469333e+05,4.573667e+05,4.800000e+05,5.113667e+05,5.107667e+05
Fraser,Colorado,165033.333333,170633.333333,176066.666667,181033.333333,185400.000000,189400.000000,193166.666667,196200.000000,198566.666667,200800.000000,...,204300.000000,196566.666667,190700.000000,2.051333e+05,2.150000e+05,2.208333e+05,2.279667e+05,2.387333e+05,2.488333e+05,2.532333e+05
Holley,New York,70566.666667,70366.666667,70466.666667,70433.333333,70166.666667,70266.666667,71100.000000,71900.000000,72500.000000,73566.666667,...,77733.333333,77533.333333,78166.666667,7.796667e+04,7.860000e+04,7.930000e+04,7.886667e+04,7.823333e+04,7.783333e+04,7.830000e+04
Maple Plain,Minnesota,152566.666667,156500.000000,160200.000000,164333.333333,168733.333333,172500.000000,176233.333333,180633.333333,185266.666667,189133.333333,...,198066.666667,201333.333333,204400.000000,2.089667e+05,2.124667e+05,2.094000e+05,2.098667e+05,2.151000e+05,2.176333e+05,2.241333e+05
Urbana,Iowa,74133.333333,75466.666667,76200.000000,77366.666667,79766.666667,82533.333333,84133.333333,86166.666667,89466.666667,92966.666667,...,145666.666667,147300.000000,148500.000000,1.480667e+05,1.497667e+05,1.517667e+05,1.535667e+05,1.550667e+05,1.560667e+05,1.571000e+05
Mexico Beach,Florida,136233.333333,140233.333333,142233.333333,144766.666667,149133.333333,153033.333333,155066.666667,158733.333333,165466.666667,172133.333333,...,176133.333333,179900.000000,185200.000000,1.913667e+05,2.025000e+05,2.127000e+05,2.174667e+05,2.213667e+05,2.245333e+05,2.396333e+05
Cambridge,Wisconsin,129433.333333,130133.333333,131000.000000,132166.666667,133900.000000,136033.333333,137900.000000,139700.000000,141933.333333,144533.333333,...,158166.666667,159566.666667,160400.000000,1.596333e+05,1.616333e+05,1.637333e+05,1.649000e+05,1.662667e+05,1.687000e+05,1.740667e+05
Ronald,Washington,131800.000000,132500.000000,133500.000000,134800.000000,135700.000000,136666.666667,138166.666667,139766.666667,140666.666667,141433.333333,...,227066.666667,229233.333333,231766.666667,2.322667e+05,2.359000e+05,2.370333e+05,2.361000e+05,2.383667e+05,2.431667e+05,2.534667e+05
Saint Johnsville,New York,25666.666667,26433.333333,27266.666667,28266.666667,29166.666667,29900.000000,30733.333333,31500.000000,32233.333333,32966.666667,...,49066.666667,48500.000000,48400.000000,4.786667e+04,4.743333e+04,4.763333e+04,4.843333e+04,4.763333e+04,4.846667e+04,4.786667e+04
Captiva,Florida,515733.333333,548900.000000,583900.000000,619466.666667,656033.333333,690133.333333,722366.666667,753766.666667,786833.333333,819000.000000,...,792366.666667,790100.000000,807366.666667,8.268333e+05,8.616333e+05,9.350667e+05,9.761000e+05,1.004967e+06,1.043567e+06,1.055467e+06
Fawnskin,California,131933.333333,134100.000000,136166.666667,139566.666667,144200.000000,148900.000000,154033.333333,160500.000000,167533.333333,173666.666667,...,238500.000000,241000.000000,237133.333333,2.389667e+05,2.410667e+05,2.437667e+05,2.577333e+05,2.623333e+05,2.712667e+05,2.773667e+05
Coulee Dam,Washington,46900.000000,48833.333333,50766.666667,52833.333333,55366.666667,57866.666667,59766.666667,61133.333333,62600.000000,63666.666667,...,118366.666667,119900.000000,121466.666667,1.239667e+05,1.273333e+05,1.281000e+05,1.269333e+05,1.302000e+05,1.334000e+05,1.349667e+05
McCloud,California,82233.333333,80933.333333,80333.333333,80533.333333,81633.333333,83766.666667,86733.333333,90033.333333,93600.000000,97400.000000,...,141366.666667,145500.000000,143533.333333,1.412333e+05,1.426667e+05,1.461667e+05,1.462000e+05,1.440000e+05,1.464000e+05,1.501667e+05
Linn Valley,Kansas,79500.000000,80633.333333,81900.000000,83333.333333,85366.666667,87700.000000,89866.666667,91700.000000,94100.000000,96566.666667,...,88766.666667,87600.000000,84500.000000,8.093333e+04,8.296667e+04,8.430000e+04,8.090000e+04,7.946667e+04,8.063333e+04,7.690000e+04
Ransom Canyon,Texas,139000.000000,140466.666667,141866.666667,143700.000000,145566.666667,146966.666667,148033.333333,149400.000000,150500.000000,150966.666667,...,191900.000000,198433.333333,202966.666667,2.077000e+05,2.076000e+05,2.053667e+05,2.099000e+05,2.155000e+05,2.249667e+05,2.348333e+05
Point Roberts,Washington,107033.333333,108366.666667,110500.000000,112133.333333,113766.666667,115966.666667,117533.333333,117566.666667,118166.666667,120633.333333,...,205366.666667,201366.666667,188566.666667,1.871000e+05,1.918667e+05,1.899000e+05,1.847333e+05,1.794000e+05,1.803667e+05,1.983667e+05
Smethport,Pennsylvania,42633.333333,43333.333333,43900.000000,44700.000000,45833.333333,46933.333333,47733.333333,48700.000000,50000.000000,51266.666667,...,64933.333333,64633.333333,64733.333333,6.660000e+04,6.893333e+04,7.006667e+04,7.100000e+04,7.106667e+04,7.213333e+04,7.273333e+04
Haskins,Ohio,81466.666667,84566.666667,88166.666667,92266.666667,95900.000000,99466.666667,102800.000000,106033.333333,108100.000000,110566.666667,...,145666.666667,145266.666667,148233.333333,1.505000e+05,1.507667e+05,1.505667e+05,1.510000e+05,1.509000e+05,1.554333e+05,1.648000e+05
Brooklyn,Wisconsin,131200.000000,132466.666667,133900.000000,135500.000000,137366.666667,139200.000000,141000.000000,142833.333333,144800.000000,146900.000000,...,160300.000000,160266.666667,158833.333333,1.590000e+05,1.594000e+05,1.621000e+05,1.650667e+05,1.665333e+05,1.698667e+05,1.786333e+05
Ponder,Texas,121566.666667,121800.000000,121866.666667,121700.000000,120966.666667,119900.000000,119100.000000,118666.666667,118000.000000,117600.000000,...,133433.333333,134966.666667,135900.000000,1.389000e+05,1.420333e+05,1.459667e+05,1.478333e+05,1.508333e+05,1.549333e+05,1.595000e+05
Jamaica Beach,Texas,182266.666667,181533.333333,181233.333333,181300.000000,181766.666667,182533.333333,183866.666667,185466.666667,187033.333333,188500.000000,...,199900.000000,211766.666667,223766.666667,2.263333e+05,2.335000e+05,2.373333e+05,2.446000e+05,2.484667e+05,2.504667e+05,2.516000e+05
Marshall,Wisconsin,127333.333333,128766.666667,130466.666667,132633.333333,134966.666667,137100.000000,139000.000000,141066.666667,143266.666667,145333.333333,...,165833.333333,166800.000000,169566.666667,1.700000e+05,1.724667e+05,1.765333e+05,1.821667e+05,1.846333e+05,1.859000e+05,1.919333e+05
Strawberry Point,Iowa,52200.000000,52566.666667,53000.000000,53600.000000,54200.000000,54966.666667,55633.333333,56300.000000,56800.000000,57466.666667,...,73400.000000,73900.000000,74233.333333,7.463333e+04,7.466667e+04,7.476667e+04,7.566667e+04,7.713333e+04,7.876667e+04,7.983333e+04
Diamond Beach,New Jersey,183133.333333,189166.666667,196533.333333,205766.666667,216900.000000,228433.333333,241433.333333,255933.333333,271233.333333,285433.333333,...,366666.666667,371300.000000,385700.000000,3.931333e+05,3.976667e+05,4.031667e+05,4.066000e+05,4.110667e+05,4.127000e+05,4.108000e+05
Plymptonville,Pennsylvania,40633.333333,41033.333333,41400.000000,41866.666667,42333.333333,42700.000000,43066.666667,43600.000000,44133.333333,44633.333333,...,49100.000000,49700.000000,50000.000000,4.993333e+04,4.940000e+04,4.946667e+04,5.026667e+04,4.986667e+04,4.903333e+04,4.856667e+04
Bolivar,West Virginia,85600.000000,86200.000000,86733.333333,87533.333333,88900.000000,90400.000000,91800.000000,93333.333333,95100.000000,96700.000000,...,158066.666667,148966.666667,151166.666667,1.487000e+05,1.487333e+05,1.490333e+05,1.480000e+05,1.471000e+05,1.456667e+05,1.469333e+05

In [499]:
#Not my code, Coppied this off of GitHub and tried to understand it

def run_ttest():
      
    df1 = get_list_of_university_towns()
    begin = get_recession_start(df)
    ending = get_recession_end(df)
    low = get_recession_bottom(df)
    house = convert_housing_data_to_quarters()
    
    prices_begin = house[begin]
    prices_end = house[ending]
    ratio = prices_begin.divide(prices_end)
        
    ratio_college = ratio[list(df1.index)].dropna()
    
    ratio_not_college_indices = set(house.index) - set(ratio_college.index)
    
    ratio_not_college = ratio.loc[list(ratio_not_college_indices)].dropna()
        
    statistic, p_value = tuple(ttest_ind(ratio_college, ratio_not_college))
    
    outcome = statistic < 0
    
    different = p_value < 0.01
    
    better = ["non-university town", "university town"]
    
    return (different, p_value, better[outcome])

    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
  #your code here

run_ttest()

C:\Users\Acer\Anaconda\lib\site-packages\ipykernel_launcher.py:23: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
C:\Users\Acer\Anaconda\lib\site-packages\ipykernel_launcher.py:31: DeprecationWarning: In future, it will be an error for 'np.bool_' scalars to be interpreted as an index

(True, 2.5694629829509587e-32, 'non-university town')